

#content{
    background-color: rgb(216, 213, 213);
}


.pic-box{
    width: 80%;
    height: 900px;
    /* background-color: rgb(255, 147, 147); */
    margin: auto;
}

.pic01{
    width: 50%;
    /* height: 400px; */
    margin: auto;
    background-color: rgb(12, 3, 134);
    /* overflow: hidden; */
    /* border-radius: 10px; */
    box-shadow: -1px -1px 20px rgb(124, 124, 124);
}

.pic01>img{
    width: 100%;
    /* height: 100%; */
    
}