body{
    font-family: 'Playfair Display', sans-serif, 'Noto Sans TC';
    background-color: lightgray;
}

/* @media screen and (max-width: 768px){ */

    

    body{
        padding-bottom: 100%;
        /* background-position: center center; */
        background-image: url('../images/mb_bgc768x812.jpg');
        background-repeat: no-repeat;
    }

    #wrapper{
        min-width: 375px;
    }


    .header{
        display: flex;
        justify-content: space-between; 
        padding: 15px;
    }

    /* .background{
        max-width: 100%;
        position: relative;
        margin-top: -64px;
        opacity: .6;
    } */

    .content{
        width: 360px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -100px 0 0 -180px;
        color: white;
    }

    h1{
        font-family: 'Noto Sans TC';
        font-size: 2em;
        letter-spacing: .03em;
        font-weight: 600;
        padding: 10px 10px 0 10px;
        text-align: justify;
        text-justify:inter-ideograph;
        line-height: 150%;
    }

    .location{
        text-align: right;
        padding: 10px 25px 10px 10px;
        font-size: .8em;
        font-weight: lighter;
    }

    .slogn{
        padding: 120px 0 0 0;
        font-size: .8em;
        text-align: center;
        font-weight: lighter;
    }
   
/* } */