

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC|Playfair+Display&display=swap');

/* @media screen and (max-width: 768px){ */
    
    
    body{
        font-family: 'Playfair Display', 'Noto Sans TC';
        /* background-color: gray; */
    }
    
    #wrapper{
        min-width: 375px;
        background-image: url('../images/mb_bgc768x812.jpg');
        background-repeat: no-repeat;
        opacity: .95;
    }

    .header{
        display: flex;
        justify-content: space-between; 
        padding: 15px;
    }

    .header>.menu>a{
        color: white;
    }

    #content{
        width: 360px;
        height: calc(100vh - 72px);
        color: white;
        /* background-color: rgb(255, 170, 170); */
        margin: auto;
    }

    #content>.word{
        position: relative;
        /* background-color: rgb(82, 82, 82); */
        height: 100%;
    }

    #content .title{
        line-height: 150%;
        font-family: 'Noto Sans TC';
        font-size: 2em;
        font-weight: 600;
        letter-spacing: .03em;
        padding: 200px 10px 0 10px;
        /* background-color: rgb(188, 210, 252); */
    }

    #content .location{
        text-align: right;
        padding: 10px 25px 10px 10px;
        font-size: .8em;
        font-weight: lighter;
        /* background-color: rgb(195, 247, 179); */
    }

    #content .slogn{
        /* background-color: rgb(250, 177, 238); */
        padding: 150px 0 0 0;
        font-size: .8em;
        text-align: center;
        font-weight: lighter;
    }

    #content .col-line{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 290px;
        background-color: rgb(255, 255, 255);
        width: 1px;
        height: 80px;
    }
   
/* } */